.container{
    display: flex;
}

.content{
    border: 1px solid blue;
    margin: 5px 20px;
    padding: 0px 5px;
}

.content-2{
    border: 1.5px solid green;
    background-color: aqua;
}

.position-static{
    position: static;
    top: 12px;
    right: 67px;
}

.position-relative{
    position: relative;
    top: 30px;
    left: 45px;
}

.position-absolute{
    /*position: absolute;*/
    /*top: 50px;*/
    /*bottom: 70px;*/
}